.game {
  padding: 20px;
}

.game__field {
  border: 1px solid #000;
  padding: 15px;
  margin-left: 20px;
  flex-grow: 1;
  font-size: 22px;
  position: relative;
}

.game__panel {
  flex-basis: 250px;
}

.game__roomName {
  font-size: 32px;
}

.game__exitBtn {
  margin-top: 10px;
}

.game__players {
  list-style: none;
  margin-top: 30px;
}

.game__player {
  margin: 10px 0;
}

.game__timer {
  position: absolute;
  top: 0;
  right: 0;
  font-style: italic;
  padding: 10px;
}

.game__readyTimer {
  font-size: 64px;
  font-weight: 500;
}

.player__status {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: var(--player-status-color);
  margin-right: 10px;
}

.player__status-ready {
  --player-status-color: green;
}

.player__status-notready {
  --player-status-color: red;
}

.player__name {
  font-size: 18px;
}

.player-active .player__name {
  font-weight: 700;
}

.player__progressBar {
  margin-top: 5px;
  border: 1px solid #000;
  height: 20px;
}

.player__progressIndicator {
  width: 75%;
  background-color: var(--player-progress-color);
  height: 100%;
}

.player__progressIndicator-inprocess {
  --player-progress-color: lime;
}

.player__progressIndicator-done {
  --player-progress-color: green;
}

.char-done {
  background-color: green;
  color: #fff;
}

.char-current {
  background-color: lime;
  color: #fff;
}